{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "modules": false
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "angularjs-annotate",
    ["transform-imports",
      {
        "rxjs": {
          "preventFullImport": true
        },
        "rxjs/operator": {
          "transform": "rxjs/add/operator/${member}",
          "preventFullImport": true,
          "camelCase": true,
          "skipDefaultConversion": true
        },
        "rxjs/observable": {
          "transform": "rxjs/add/observable/${member}",
          "camelCase": true,
          "preventFullImport": true,
          "skipDefaultConversion": true
        }
      }]
  ]
}